.header {
  border-bottom: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
}
 #logo {
   align-items: center;
   display: flex;
 }
 #logo span {
   margin-left: 10px;
 }
.header a {
  color: black;
  margin: 10px;
}
nav {
  margin-right: 20px;
}
.content {
  display: inline-flex;
  margin-top: 100px;
  margin-left: 75px;
  margin-right: 75px;
}
#left,
#center,
#right {
  flex-direction: column;
  border: 1px solid black;
  width: 33%;
}
